/**
 * Styles for use in emails designed to be inlined.
 *
 * The inliner imposes the following restrictions:
 * - Only element and single class selectors are supported
 * - The last property should end with a ';'
 * - Do not use double quotes
 * - Element can only have one class
 * - One selector per rule
 */

/* Client specific fixes */
.ExternalClass { width:100%;}
.ExternalClass p { line-height: 100%; }
.ExternalClass span { line-height: 100%; }
.ExternalClass font { line-height: 100%; }
.ExternalClass td { line-height: 100%; }
.ExternalClass div { line-height: 100%; }

/* General elements */
body {
  font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif;
  -webkit-font-smoothing:antialiased;
  -webkit-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  width: 100%!important;
  height: 100%;
  margin:0;
  padding:0;
}

/* General tables */
table { border-spacing: 0; border-collapse: collapse; padding: 0; vertical-align: top; text-align: left; }
td { word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; padding: 0; vertical-align: top; text-align: left; font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif;}
th { word-break: break-word; -webkit-hyphens: none; -moz-hyphens: none; hyphens: none; border-collapse: collapse !important; padding: 0; vertical-align: top; font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif;}

/* Images */
img { outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; border: none;}

/* Typography */
div  { font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif; font-weight: normal; font-size:14px;}
p  { font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif; margin-bottom: 10px; font-weight: normal; font-size:14px; line-height:1.6;}
ul { font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif; margin-bottom: 10px; font-weight: normal; font-size:14px; line-height:1.6;}
ol { font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif; margin-bottom: 10px; font-weight: normal; font-size:14px; line-height:1.6;}
li { margin-left:5px; list-style-position: inside;}

h1 { font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif; line-height:1.1; margin-bottom:15px; color:#000000; font-weight:200; font-size: 44px;}
h2 { font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif; line-height:1.1; margin-bottom:15px; color:#000000; font-weight:200; font-size: 37px;}
h3 { font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif; line-height:1.1; margin-bottom:15px; color:#000000; font-weight:500; font-size: 27px;}
h4 { font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif; line-height:1.1; margin-bottom:15px; color:#000000; font-weight:500; font-size: 23px;}
h5 { font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif; line-height:1.1; margin-bottom:15px; color:#000000; font-weight:900; font-size: 17px;}
h6 { font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif; line-height:1.1; margin-bottom:15px; color:#000000; font-weight:900; font-size: 14px; text-transform: uppercase; color:#fff;}

.lead { font-size:17px;}
.last { margin-bottom:0; clear: both; margin-top: 10px; font-style: italic}
.subtitle {border-top: 1px solid #d7d7d7; padding-top: 4px; font-size: 14px; font-weight: bold}

/* Links */
a { color: #50A6DD; }

/* Container in wrapper */
.container { display:block!important; max-width:600px!important; margin:0 auto!important; clear:both!important; padding: 10px}
.content { max-width:580px; margin:0 auto; display:block;}
.content-table { width: 100%; padding:12px;}

/* Header */
.header-wrap { width: 100%; font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif; background: #f7f7f7; margin: 0; padding: 0;}
.header-pslogo { color: white; text-decoration: none; min-height: 60px; max-height: 60px; display: block; padding:0;}
.header-title { font-size: 14px; text-align: right; text-transform: uppercase; color: #1179D2; margin: 0; margin-top: 20px; padding: 0;}

/* Banners */
.security-wrap { width: 100%; background: #DD4814; margin: 0; padding: 0;}
.security-wrap p {color: #ffffff; margin:0; line-height: 1;}
.moderation-wrap { width: 100%; background: #f0ec70; margin: 0; padding: 0;}
.moderation-wrap p {color: #666666; margin:0; line-height: 1;}
.task-wrap { width: 100%; background: #dddddd; margin: 0; padding: 0;}
.task-wrap span {font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif;} 

/* Body */
.body-wrap { width: 100%;}

/* Callouts (table) */
.warning         { width:100%; background: #ffd467; border: 4px solid #ffd467; margin-bottom: 10px;}
.warning td      { padding: 6px; font-size: 14px; line-height:1.6;}
.note            { width:100%; background: #c4f3ff; border: 4px solid #c4f3ff; margin-bottom: 10px;}
.note td         { padding: 6px; font-size: 14px; line-height:1.6;}
.announcement    { width:100%; background: #d9ff00; border: 4px solid #d9ff00; margin-bottom: 10px;}
.announcement td { padding: 6px; font-size: 14px; line-height:1.6;}
.recipients      { background-color: #bbdcf1; border: 1px solid #bbdcf1; margin-bottom: 8px; width:100%}
.recipients td   { padding: 8px;}
.recipients p    { margin: 0; font-size: 13px}

/* Footer */
.footer-wrap { width: 100%; clear:both!important; font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif; background: #f7f7f7; margin: 0; padding: 0; color: #999}
.footer-wrap p {font-size:12px; font-weight: bold; color: #999}

/* Comments only */
.type-above { color:#666666; font-family:'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif; font-size:11px; padding:4px; text-align:center;}

/* Button */
.button { margin-top: 16px; margin-bottom: 16px;}
.button table { background-color: #50A6DD; }
.button td { color: #ffffff; font-size: 16px; background-color:#50A6DD; padding: 6px 10px}
.button a { color: #ffffff; font-size: 16px; border: 6px solid #50A6DD; text-decoration: none;}

/** Digest */
.digest-summary { margin-bottom: 10px;}
.digest-summary table {background: #fbe2d9; border: 2px solid #fbe2d9; width:100%;}
.digest-summary th {padding: 4px; color: #DD4814;}
.digest-summary td {padding: 4px; color: #000000;}
.digest-title {vertical-align:top; padding: 6px; color: #000000; font-size: 20px; border-top: 3px solid #ccc; text-align: left; font-weight: normal}
.digest-time  {vertical-align:top; padding: 3px; color: #DD4814; font-size: 14px; width: 80px}
.digest-comment {padding-bottom: 10px}
.ampm {color: #f4a386; font-size: 14px;}
.digest-author {vertical-align:top; font-size: 13px; padding: 4px;}
.digest-content {vertical-align:top; font-size: 13px; padding: 10px 4px;}
.digest-attachments-title {vertical-align:top; font-size: 13px; padding: 24px 4px 4px; border-bottom: 2px solid #ddd; color: #aaa}
.digest-attachments {vertical-align:top; font-size: 13px; padding: 4px; border-bottom: 2px solid #ddd;}
.digest-context-title {vertical-align:top; font-size: 13px; padding: 24px 4px 4px; border-bottom: 2px solid #ddd; color: #aaa}
.digest-context {vertical-align:top; font-size: 13px; padding: 4px; border-bottom: 2px solid #ddd;}

/* Attachments*/
.attachment-icon {width:20px; font-size:13px;}
.attachment-title {font-size:13px; padding: 4px}
.attachment-download {width: 80px; font-size:13px; padding: 4px; text-align:right}

/** Embedded PageSeeder messages */
.ps-message { width: 100%; vertical-align:top; border-top: 2px solid #e7e7e7; border-bottom: 2px solid #e7e7e7; border-collapse: collapse; background-color:white;}
.ps-message-th { vertical-align: top; font-size: 14px; padding: 4px; text-align: right; width: 20%;font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif;}
.ps-message-td { vertical-align: top; font-size: 14px; padding: 4px; font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif;}

/** Tables */
.ps-table { width: 100%; vertical-align:top; border-top: 2px solid #D8F1FF; border-bottom: 2px solid #D8F1FF; border-collapse:collapse; background-color:white;}
.ps-table-th { vertical-align:top; font-size: 13px; padding: 4px; text-align: right; font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif;}
.ps-table-td { vertical-align:top; font-size: 13px; padding: 4px; font-family: 'Helvetica Neue', 'Droid Sans', Helvetica, sans-serif;}

/* Tasks */
.task-separator {color: #c7c7c7}
.task-property  {color: #777777}
.task-value     {color: #000000}

/* Timezone info (when there are dates in the message) */
.timezone {text-align:right; font-size: 13px; color: #999}

/* New URL */
.newurl {background: #eeeeee; border: 2px solid #eeeeee; padding: 6px; margin-bottom: 10px;}
.newurl p {margin-bottom: 0;}
